/* .images-slider {
} */
/* .swiper-slide {
	padding-top: 70%;
	overflow: hidden;
	position: relative;
}

img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.swiper-button-prev {
	left: 30;
	color: #014e4e;
}

.swiper-button-next {
	right: 30;
	color: #014e4e;
} */
